body, html {
  background-color: #72bcd4;
}
.Image {
  animation: App-logo-spin infinite 60s linear;
  /*height: 80px*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
